.home-container {
    width: 100%;
}

.home-container-flex {
    display: flex;
    flex-direction: column;
}

.collection-container {
    position: relative;
    width: 100%; 
  
}

.collection-footer{
    line-height: 2.08rem;
    font-size: 1rem;
}

.collection-button-v2{
    margin-top: 10px;
    height: 36px;
    width: 240px;
    border: 0.5px #222222 solid;
    transition: transform 0.3s;
}

.collection-button-v2:hover{
    background-color: #222222;
    color: white;
    margin-top: 10px;
    height: 36px;
    width: 240px;
    border: none;
    box-shadow: none;
    transform: scale(1.01)
}

.collection-button{
    margin-top: 10px;
    height: 36px;
    width: 240px;
    border: 0.5px white solid;
    transition: transform 0.3s;
}

.collection-button:hover{
    background-color: #222222;
    margin-top: 10px;
    height: 36px;
    width: 240px;
    border: none;
    box-shadow: none;
    transform: scale(1.01)
}

.collection-title{
    font-weight: 600;
    font-size: 50px;
    margin-top: 5px;
}

.collection-header{
    font-weight: 750;
    letter-spacing: .05rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
     
}

.img-collection {
    width: 100%;
    height: auto;
    display: block;
}

.collection-info-container-side{
    width: 400px;
    color: #222222;
}

.collection-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   
    color: white;
    z-index: 1;
    padding: 20px;
    text-align: center;
   
}