section#carousel
    padding: 30px 0px
    .container
        .carousel-wrapper
            display: flex
            .carousel-nav
                margin: 30px   
            
                
            

    
        