section#slider2
    position: relative
    display: block
    margin-bottom: 120px
    .slider2-container
        height: 530px
        width: 1100px
        margin: 0 auto

        .slider2-header
            display: flex
            justify-content: center
            h2
                font-weight: 300
                letter-spacing: .2rem
                font-size: 36px
                margin-top: 90px
                line-height: 1.2
                margin-bottom: 50px

        .slider2-wrapper
            display: flex
            justify-content: center
            align-items: center

            .swiper-wrapper
                display: flex
                align-items: center

                .slider2-cards
                    display: flex

                    .slide2-info
                        display: flex
                        flex-direction: column
                        padding: 0px 10px 0px 128px
                        justify-content: center
                        margin-right: 15px
                        width: 50%

                        .slider2-title
                            color: #222222
                            font-weight: 400
                            letter-spacing: .06rem
                            font-family: "Nunito Sans", sans-serif
                            font-size: 24px

                        .slider2-footer
                            color: #1212128C
                            margin: 0px 0px 15px 0px
                            font-size: 17px
                            letter-spacing: 0.05rem

                        .slider2-span
                            display: inline
                            margin: 10px 0px 25px 0px
                            .slider-span2
                                margin: 0px 5px
                                font-size: 14px
                                color: #1212128C
                            .slider-span3
                                margin: 0px 5px 0px 0px
                                font-size: 14px

                            .slider-span4
                                margin: 0px 5px 0px 20px
                                font-size: 14px
                                color: #1212128C
                            .slider-span5
                                margin: 0px 0px 0px 3px
                                font-size: 14px
                            .slider-span6
                                margin: 0px 0px 0px 10px

                            svg
                                display: inline

                        .slider-button-v2
                            margin-top: 20px
                            height: 44px
                            width: 155px
                            color: #FFFFFF
                            background-color: #222222
                            border: 0.5px #222222 solid
                            transition: transform 0.3s

                        .slider-button-v2:hover

                            color: white
                            margin-top: 20px
                            height: 44px
                            width: 155px
                            border: none
                            box-shadow: none
                            transform: scale(1.03)

                    .slide2-img-container
                        overflow: hidden
                        height: 370px
                        width: 570px
                        margin-left: 15px
                        .slide2-img
                            height: 370px
                            width: 570px
                            
                            width: 100%
                            object-fit: cover
                            transition: transform 1s ease

                        .slide2-img:hover
                            transform: scale(1.05)

                    

    .slider2-nav
        color: #313131bf
