section#best-sellers
    padding: 30px 30px 10px
    .section-container
        padding: 30px 30px 10px
        margin: 0px 170px
        .heading-content
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            .collection-title
                font-size: $fontSizeB
                font-weight: $fontWeightB
                letter-spacing: .05rem 
            .collection-description
                font-size: $fontSizeC
                color: $colorSecondary   
                line-height: $lineHeightA
                letter-spacing: 0.06rem
                font-weight: $fontWeightB
            
                
            

    
        