section#footer2
    background-color: rgb(18,18 ,18)

    .footer2-container-flex
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: 380px

        .footer2-title
        
            color: #ffff
            font-size: 30px
            font-weight: 750
            line-height: 2.08rem
            letter-spacing: 0.07rem 
            text-align: center
            margin: 15px 0px

        .footer2-description
            color: #FFFFFF8C
            font-size: 16px
            line-height: $lineHeightA
            letter-spacing: 0.06rem
            font-weight: $fontWeightB

        .footer2-mail
            height: 45px
            width: 348px
            border-bottom: #FFFFFF 1px solid   

